{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock meta %}

{% block content %}
<nav class="navbar bg-body-tertiary d-flex justify-content-between">
    <div class="navbar-menu d-flex justify-content-start align-items-center">
        <div class="navbar-header position-relative d-flex justify-content-start align-items-center gap-3 mt-2 mb-2 me-3">
            <img src="{% static 'pictures/fasilkom.png' %}" alt="" class="logo-fasilkom my-auto">
            <a class="navbar-header-text text-decoration-none" href="{% url 'main:show_main' %}"><p class="fw-bold my-auto">Carousell PBP</p></a>
        </div>
        <div class="d-flex flex-row">
            <a href="{% url 'main:show_data_product' %}">
                <button type="button" class="btn btn-light h-100">Data Product</button>
            </a>
            <a href="{% url 'main:create_product' %}">
                <button type="button" class="btn btn-light">Add Product</button>
            </a>
            </div>
        </div>
    </div>

    <div class="">
        <li class="nav-item dropdown">
            <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="navbar-user">Hallo, {{name}}</span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">Kelas {{class}}</li>
                <li><a class="dropdown-item" href="">Edit Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a></li>
            </ul>
        </li>
    </div>
</nav>

<h1>Edit Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Edit Product"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}