{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'show_data_product.css' %}">
{% endblock meta %}

{% block content %}
<nav class="navbar bg-body-tertiary d-flex justify-content-between">
    <div class="navbar-menu d-flex justify-content-start align-items-center">
        <div class="navbar-header position-relative d-flex justify-content-start align-items-center gap-3 mt-2 mb-2 me-3">
            <img src="{% static 'pictures/fasilkom.png' %}" alt="" class="logo-fasilkom my-auto">
            <a class="navbar-header-text text-decoration-none" href="{% url 'main:show_main' %}"><p class="fw-bold my-auto">Carousell PBP</p></a>
        </div>
        <div class="d-flex flex-row">
            <a href="{% url 'main:show_data_product' %}">
                <button type="button" class="btn btn-light h-100">Data Product</button>
            </a>
            <a href="{% url 'main:create_product' %}">
                <button type="button" class="btn btn-light">Add Product</button>
            </a>
            </div>
        </div>
    </div>

    <div class="">
        <li class="nav-item dropdown">
            <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="navbar-user">Hallo, {{name}}</span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">Kelas {{class}}</li>
                <li><a class="dropdown-item" href="">Edit Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a></li>
            </ul>
        </li>
    </div>

</nav>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="product_table">
        
    </tbody>
</table>


    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>

<script>
    async function getProductsID() {
        return fetch("{% url 'main:get_product_json_byID' %}").then((res) => res.json())
    }

    async function refreshProducts(){
        document.getElementById("product_table").innerHTML= ""
        const products = await getProductsID();
        let htmlString =``

        products.forEach((item) => {
            htmlString += `
                <tr>
                    <td>${ item.fields.name }</td>
                    <td>${ item.fields.amount }</td>
                    <td>${ item.fields.description }</td>
                    <td>${ item.fields.date_added }</td>
                    <td>
                        <button href="#" class="btn btn-primary btn-sm edit-product" data-id="${item.pk}">
                            Edit
                        </button>
                        <button href="#" class="btn btn-danger btn-sm delete-product" data-id="${item.pk}">
                            Delete
                        </button>
                    </td>
                </tr>
            `
        });

        document.getElementById("product_table").innerHTML = htmlString;

        document.querySelectorAll('.edit-product').forEach(button => {
        button.addEventListener('click', function () {
            // Dapatkan ID produk dari atribut data-id tombol yang diklik
            const productId = button.getAttribute('data-id');

            // Buat URL yang sesuai dengan permintaan Anda (misalnya, URL untuk mengedit produk)
            const editUrl = `/edit-product/${productId}`;

            // Navigasikan ke URL editUrl
            window.location.href = editUrl;
            });
        });

        // Tambahkan event listener untuk tombol "Delete"
        document.querySelectorAll('.delete-product').forEach(button => {
            button.addEventListener('click', function () {
                // Dapatkan ID produk dari atribut data-id tombol yang diklik
                const productId = button.getAttribute('data-id');

                // Buat URL yang sesuai dengan permintaan Anda (misalnya, URL untuk menghapus produk)
                const deleteUrl = `/delete-product/${productId}`;

                // Navigasikan ke URL deleteUrl
                window.location.href = deleteUrl;
            });
        });
    }
    refreshProducts();
</script>
    

{% endblock content %}